@import "var.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "PT Mono";
    src: url("../fonts/PT_Mono.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "IBM_Plex_Mono";
    src: url("../fonts/IBMPlexSansRegular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "IBM_Plex_Mono";
    src: url("../fonts/IBMPlexSansMedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "IBM_Plex_Mono";
    src: url("../fonts/IBMPlexSansBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: "IBM_Plex_Mono";
    src: url("../fonts/IBMPlexSansSemiBold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

body {
    background-image: var(--prime-back);
    font-family: 'PT Mono', monospace;
}

#app {
    width: 100%;
    height: 100vh;
}