.flexbox {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.text-700 {
    font-weight: 700;
}

.resource-color {
    color: var(--resources);
}

.material-color {
    color: var(--materials);
}

.metamaterial-color {
    color: var(--metamaterials);
}

.component-color {
    color: var(--components);
}

.active-menu-item {
    position: relative;
    color: white;
    opacity: 1 !important;
}

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.back-gradient {
    background-image: linear-gradient(var(--prime-light01) 1px, transparent 1px),
    linear-gradient(90deg, var(--prime-light01) 1px, transparent 1px);
    background-size: 4px 4px;
}

.back-gradient2 {
    background-image:
            repeating-linear-gradient(
                    45deg,
                    transparent,
                    transparent 2px,
                    var(--prime-light01) 2px,
                    var(--prime-light01) 4px
            ),
            repeating-linear-gradient(
                    -45deg,
                    transparent,
                    transparent 2px,
                    var(--prime-light01) 2px,
                    var(--prime-light01) 4px
            );
    background-size: 11.31px 11.31px; /* 8px * √2 ≈ 11.31px */
}

