.flexbox {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.text-700 {
    font-weight: 700;
}

.resource-color {
    color: var(--resources);
}

.material-color {
    color: var(--materials);
}

.metamaterial-color {
    color: var(--metamaterials);
}

.component-color {
    color: var(--components);
}

.even-line {
    background: #303030 !important;
    border-radius: 4px;
    padding: 4px;
}

.odd-line {
    padding: 4px;
}